<div class="content">

  <div class="description">

    <h1>La colline a des yeux</h1>
    <p>
      <i>
        2006, 1h 43min, de Alexandre Aja<br>
        Avec Aaron Stanford, Kathleen Quinlan, Vinessa Shaw, Emilie de Ravin
      </i>
    </p>
    <p>
      Big Bob Carter, ancien commissaire de la police de Cleveland, et sa femme Ethel emmènent leur famille
      en Californie pour fêter leurs noces d'argent. Accompagnés de Lynn, Brenda et Bobby, leurs enfants,
      Doug le mari de Lynn, leur propre bébé et les deux chiens Beauty et Beast, ils décident de faire un
      détour par le désert du Nouveau-Mexique. Guidés par l'étrange gardien d'une station-service, ils
      empruntent un chemin non répertorié. Leurs pneus explosent et la famille se retrouve coincée en plein
      désert. Ils sont alors pris en chasse par une famille de mutants cannibales et défigurés victimes
      d'irradiations nucléaires.
    </p>
  </div>
  <img class="cover"
       src="/assets/La_colline_a_des_yeux_2007_alt.jpg">

</div>
