
.content {
  min-height: 70vh;
  height: auto;
  margin: 0;
  padding: 50px 80px;
  background: #212121;

  display: flex;
}

.cover {
  max-height: 70vh;
}

.description {
  max-height: 70vh;
  margin-right: 50px;
  flex: 1;

  font: 400 15px/1.8 "Lato", sans-serif;
  text-align: justify;
  color: white;
}
