<div class="canvas">

  <div class="content">

    <div class="description">

      <h1>La colline a des yeux</h1>
      <p>
        <i>
          2006, 1h 43min, de Alexandre Aja<br>
          Avec Aaron Stanford, Kathleen Quinlan, Vinessa Shaw, Emilie de Ravin
        </i>
      </p>
      <p>
        Pour fêter leur anniversaire de mariage, un ancien policier de Cleveland et sa femme ont demandé à leur famille
        de partir avec eux en Californie. Mais dans les collines, des gens un peu chelous les empêchent d'avancer
        en voulant les tuer (c'est pas gentil).
      </p>
    </div>
    <img class="cover"
         src="/assets/La_colline_a_des_yeux_2007_alt.jpg">

  </div>

</div>
