<div class="canvas">

  <div class="content">

    <div class="row-container">
      <div class="row">
        <b>
          Samedi 24 mars 2018 à 18h
        </b>
      </div>
      <a target="_blank"
         href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=YzRwamNlMW43NHBqOGJiNTZ0aWo0YjlrNm9wMzZiYjI2c282OGJiNmM0bzM4cDFsNjBybWNvcjFjayBhZHJpZW4uYnJpY2NoaUBt&amp;tmsrc=adrien.bricchi%40gmail.com">
        <button mat-icon-button color="warn">
          <mat-icon>query_builder</mat-icon>
        </button>
      </a>
    </div>

    <div class="row-container">
      <div class="row">
        <b>
          MJC André Malraux<br/>
          10 Avenue de la Moutte,<br/>
          34170 Castelnau-le-Lez
        </b>
      </div>
      <a target="_blank"
         href="https://www.google.fr/maps/place/MJC+Castelnau-le-Lez/@43.6333764,3.9028882,15z/data=!4m8!1m2!2m1!1smjc+castelnau+le+lez!3m4!1s0x12b6a5ede153c5c1:0xb72bfc8f96725765!8m2!3d43.634105!4d3.905845?dcr=0">
        <button mat-icon-button color="warn">
          <mat-icon>location_on</mat-icon>
        </button>
      </a>
    </div>

    <div class="row-container">
      <div class="row">
        <b>
          Ligne 2, direction Jacou<br>
          Arrêt La Galine
        </b>
      </div>
      <a target="_blank"
         href="http://www.tam-voyages.com/ri/?rub_code=4&pointArr=5189%24La+Galine%244%2434057&noscript=0">
        <button mat-icon-button color="warn">
          <mat-icon>tram</mat-icon>
        </button>
      </a>
    </div>

    <div class="row-container">
      <div class="row">
        <b>
          Contact
        </b>
      </div>
      <a target="_blank"
         href="mailto:assomoovy@gmail.com?subject=CVN%20Réservation&amp;body=Bonjour,%20je%20voudrais%20réserver%20au%20nom%20de%20...">
        <button mat-icon-button color="warn">
          <mat-icon>email</mat-icon>
        </button>
      </a>
    </div>

    <div class="row-container">
      <div class="row">
        <b>
          Facebook
        </b>
      </div>
      <a target="_blank"
         href="https://www.facebook.com/pg/crazyvideonight/about">
        <button mat-icon-button color="warn"><i class="fa fa-facebook bigger" aria-hidden="true"></i></button>
      </a>
    </div>

    <div class="row-container">
      <div class="row">
        <b>
          Twitter
        </b>
      </div>
      <a target="_blank"
         href="https://twitter.com/drawertv">
        <button mat-icon-button color="warn"><i class="fa fa-twitter bigger" aria-hidden="true"></i></button>
      </a>
    </div>

  </div>

</div>
