
<div class="canvas">

  <div class="content">

    <img class="cover"
         src="/assets/Tokyo_gore_police.jpg">

    <div class="description">
      <h1>Tokyo gore police</h1>
      <p>
        <i>
          2008, 1h 49min, de Yoshihiro Nishimura<br>
          Avec Eihi Shiina, Itao Itsuji, Yukihide Benny
        </i>
      </p>
      <p>
        Une flic intégrée à un groupe de barjots traque les pires mutants de la terre. Un savant fou
        fanatique d'expériences en tout genre en est la cause. Ca va saigner dans les rues de Tokyo...
        (et c'est peu de le dire)
      </p>
    </div>

  </div>

</div>
