
<div class="content">

  <img class="cover"
       src="/assets/Tokyo_gore_police.jpg">

  <div class="description">
    <h1>Tokyo gore police</h1>
    <p>
      <i>
        2008, 1h 49min, de Yoshihiro Nishimura<br>
        Avec Eihi Shiina, Itao Itsuji, Yukihide Benny
      </i>
    </p>
    <p>
      Dans un Tokyo futuriste punk et décadent, une unité spéciale de la police a pour mission de traquer
      et d'éliminer les "Engineers" ("mutants" dans la version française). Leur origine est inconnue mais
      ils sont la cause d'actes de violence et de meurtres dans la ville; leur particularité est que leurs
      blessures se changent en armes redoutables. Nous suivons Ruka, chasseur d'Engineer, qui aura à combattre
      ses propres démons, tout en enquêtant sur l'origine des mutants. L'héroïne se trouvera vite confrontée
      à la chute du système tokyoïte, qui se retournera contre ceux qu'il est censé protéger.
    </p>
  </div>

</div>
