
.canvas {
  height: auto;
  margin: 0;
  padding: 50px 80px;
  background: #212121;
}


.content {
  margin: auto;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: white;
  max-width: 1080px;
  text-align: justify;
}


.main-title {
  width: auto;
  text-align: center;
}
