
.content {
  min-height: 25vh;
  height: auto;
  margin: 0;
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background: url("La_colline_a_des_yeux_2007_back.jpg") no-repeat fixed center;
  background-size: cover;
}
